
#landing h2 {
  font-size: .8em;
  font-weight: 600;
  color: white;
}
#landing h4 {
  font-size: .5em;
  margin-top: 1em;
  font-weight: 600;
  color: #18FFFF;
  text-shadow: .03em .03em gray;
}

#landing .container {
  display: block;
  position: relative;
  width: 17em;
  min-width: 320px;
  height: 20.6em;
  min-height: 410px;
  margin: auto;
  margin-top: 1em ;
  box-shadow: .1em .25em .5em .01em #333;
  overflow:hidden;
  background: gray;
}

#landing img.bg-img {
  display: block;
  position: absolute;
  margin: auto;
}

#landing .menu1 {
  position: relative;
  padding: 15% 13% 0 13%;
}

#landing .menu1 h2 {
  display: inline;
  padding-bottom: .1em;
  border-bottom: .1em solid rgba(255,64,88,0.74);
}


#landing .connexion {
    position: absolute;
    padding: 5% 13%;
    width: 100%;
    margin-top: .1em;
}

#landing .connexion h2 {
    display: inline;
    margin: 1em;
    padding-bottom: .1em;
    border-bottom: 1em solid #1161ee;
}


#landing label {
    text-align: left;
    display: block;
    margin-top: .5em;
    padding: .25em .1em;
    font-size: .5em;
    font-weight: 10em;
    color: #fff;
}

#landing input {
    display: block;
    width: 100%;
    padding: 1em;
    border: 0;
    border-radius: .8em;
    font-family: "Roboto",sans-serif;
    opacity: 0.15;
}

#landing input.submit {
    padding: 2em;
    font-size: .8em;
    font-weight: 10em;
    color: #fff;
    opacity: 1;
    background-color: #1161EE;

}
