#landing .form {
  font-family: 'Open Sans',sans-serif;
  font-weight: 500;
  color:#fff
}
#landing .info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

#landing .info i {
  color:#55acee;
}

#landing h1 {
  text-align:center;
  margin:0px 0px 0px 0px
}

#landing h2 {
  font-size: 20px;
  font-weight: 600;
}

#landing h3 {
  font-size: 17px;
  font-weight: 600;
}

#landing a {
  text-decoration: inherit;
  color: inherit;
}

#landing a:hover {
  text-decoration: inherit;
}




#landing .container {
  display: block;
  position: relative;
  width: 530px;
  height: 679px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 1px 5px 10px 1px #333;
  overflow:hidden;
  background: gray;
}

#landing img.bg-img {
  display: block;
  position: absolute;
  margin: auto;
}

#landing .menu {
  position: relative;
  padding: 15% 13% 0 13%;
}

#landing .menu h2 {
  display: inline;
  margin: 20px;
  padding-bottom: 3px;
  border-bottom: 3px solid #1161ee;
}


#landing .connexion {
    position: absolute;
    padding: 15% 13%;
    width: 100%;
    left:0px;
}

#landing .connexion h2 {
    display: inline;
    margin: 20px;
    padding-bottom: 3px;
    border-bottom: 2px solid #1161ee;
}

#landing .connexion h4 {
    margin-bottom: 0;
    text-align: center;
    color: #ffffff;
    opacity: 0.3;
}

#landing .connexion h4:hover {
    opacity: 0.8;
}

#landing label {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

#landing input {
    display: block;
    width: 100%;
    margin: auto;
    padding: 13px;
    border: 0;
    border-radius: 10px;
    font-family: "Roboto",sans-serif;
    opacity: 0.15;
}

#landing input p {
    color: #fff;
    opacity: 1;
}

#landing input.submit {
    padding: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    opacity: 1;
    background-color: #1161EE;

}



#landing .active-section {
    position: absolute;
    right:500px;
}
#landing .remove-section {
    position: absolute;
    left: 500px;
}
