html,body {
margin: 0;
padding: 0;
}
#landing,
#landing *,
#landing :before,
#landing :after {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  text-overflow: ellipsis;
  font-family: Montserrat, Arial, Helvetica, Tahoma, Verdana, sans-serif;
}
#landing {
  width: 1500px;
  font-size: 16px;
  padding-top: 4.0625em;
  background-color: #ededed;
  background-image: url("https://www.transparenttextures.com/patterns/reticular-tissue.png");
  text-align: center;
}
#landing {
  font-size: 1.061vw;
  width: auto;
}
#landing > * {
  text-align: left;
}
#landing .button {
  display: inline-block;
  padding: .7em 1.7em;
  border-radius: 2em;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #99ce45;
  border: .125em solid #99ce45;
  color: #fff;
  transition: background 0.4s, color 0.4s, border-color 0.4s;
}
#landing .button:hover {
  background: transparent;
  color: #fff;
}
#landing .button:active {
  opacity: .5;
}
#landing .button-teal {
  background: #009688;
  border-color: #009688;
}
#landing .button-teal:hover {
  background: transparent;
  color: #009688;
}
#landing .button-orange {
  background: #fe8f4f;
  border-color: #fe8f4f;
}
#landing .button-orange:hover {
  background: transparent;
  color: #fe8f4f;
}
#landing > .header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 5.3em;
  z-index: 100;
  background: #009688;
  padding: .9em 1.25em;
  line-height: 2em;
  text-align: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  word-spacing: 2.5em;
}
#landing > .header > * {
  display: inline-block;
  word-spacing: normal;
}
#landing > .header > .logo {
  display: inline-block;
  position: absolute;
  left: 3em;
  width: 100%;
  max-width: 10.8em;
}

#landing > .header > .tag {
  font-weight:lighter;
  color: white;
  top: .5em;
  text-align: center;
  width: 100%;
}

#landing > .header > .button {
  top: -1.8em;
  font-size: .9em;
  border-width: .118em;
}


#landing > .menu {
  text-align: center;
  height: 9em;
  background: #009688;
  padding: .9em 1.25em;
}
#landing > .menu > .menupic{
  position: absolute center;
  width: 100%;
  height: auto;
  max-width: 70em;
  letter-spacing: -0.5em;
  white-space: nowrap;
  overflow: hidden;
  background-size: contain;
}

#landing > .menu > a:hover {
  z-index: 50;
  text-transform: none;
  font-size: 1.335em;
  color: #0a5070;
  width: auto;
  height: auto;
  line-height: 1.5em;
  border-color: #009688;
}

#landing > .feature {
  display: inline-block;
  width: 20.75em;
  margin-top: 5.125em;
  padding: 0 1.625em;
  text-align: center;
  vertical-align: top;
}
#landing > .feature > .picture {
  width: 11.9375em;
  max-width: 191px;
  margin-bottom: 2.25em;
}
#landing > .feature > .caption {
  font-size: 1.4em;
  font-weight: normal;
  margin-bottom: .8em;
  min-height: 2.43em;
  color: #3e4e5c;
  text-align: center;
}


#landing > .footer {
  width: 100%;
  padding: 0 6em;
}
#landing > .footer > * {
  vertical-align: top;
  line-height: 2;
}
#landing > .footer a {
  color: #01affe;
  text-decoration: none;
}
#landing > .footer a:hover {
  color: #3e4e5c;
}
#landing > .footer > .column:nth-child(1) a,
#landing > .footer > .column:nth-child(2) a,
#landing > .footer > .column:nth-child(3) a {
  display: block;
  font-size: .875em;
}
#landing > .footer > .column:nth-child(1) a {
  font-size: 1.125em;
}



#landing > .copyright {
  font-size: .875em;
  border-top: 2px solid #eee;
  margin: 2em 6.8em 0;
  padding: 2em 0;
  color: #8e9ea9;
  word-spacing: 1.5em;
}
#landing > .copyright:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  float: none;
  clear: both;
}
#landing > .copyright > * {
  word-spacing: normal;
}
#landing > .copyright a {
  color: #01affe;
  text-decoration: none;
}
#landing > .copyright a:hover {
  color: #3e4e5c;
}
#landing > .copyright > .social {
  float: right;
  word-spacing: 1.5em;
}
#landing > .copyright > .social > * {
  word-spacing: normal;
}

#landing .slider {
position: relative;
overflow: hidden;
text-align: center;
}
#landing .slider .content {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
#landing .slider > img.ratio {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border: 0 none;
  outline: 0 none;
  margin: 0;
/* data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7 */
}
#landing .slider > input.slide {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  overflow: hidden;
}
#landing .slider > input.slide + label {
  display: inline-block;
  width: 3.32em;
  height: 3.125em;
  margin-top: -3.125em;
  padding: 1.5em .25em 0;
  top: -0.5em;
  cursor: pointer;
  z-index: 80;
}

#landing .slider-2 > input.slide + label {
  display: inline-block;
  width: 3.32em;
  height: 3.125em;
  margin-top: -3.125em;
  padding: 1.5em .25em 0;
  top: 0.5em;
  cursor: pointer;
  z-index: 80;
}
#landing .slider > input.slide + label:before {
  content: "";
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: border-color 0.2s;
}
#landing .slider > input.slide + label:hover:before {
  border-color: rgba(255, 255, 255, 0.4);
}
#landing .slider > input.slide:checked + label:before {
  border-color: #ffffff;
}
#landing .slider > input.slide + label + div,
#landing .slider > input.slide + label + div > img:first-child,
#landing .slider > input.slide + label + div > img:first-child + div {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  overflow: hidden;
}
#landing .slider > input.slide + label + div > img:first-child {
  width: 100%;
  height: 100%;
  opacity: .9;
}
#landing .slider > input.slide + label + div {
  transition: opacity 1s, transform 1.5s;
  opacity: 0;
  transform: scale(1.5);
  background: rgba(0, 0, 0, 0.8);
}
#landing .slider > input.slide:checked + label + div {
  z-index: 50;
  opacity: 1;
  transform: scale(1);
}
#landing .slider > input.slide + label + div:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 0;
  opacity: 0;
  z-index: 100;
  background: #009688;
  height: 2px;
  transition: width 6.8s linear, opacity 3s 1s linear;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
#landing .slider > input.slide:checked + label + div:before {
  width: 100%;
  opacity: 1;
}



#landing > .footer{
  border-top: 2px solid #eee;
  padding:20px 0px 40px;
}
#landing > .footer > .courses{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
}

#landing > .footer > .courses > .course{
  max-width:400px;
  max-height:300px;
  width:100%;
  background-color:#282828;
  border-radius: 2em;
  padding:15px 0px;
  margin:20px 4px;
  position:relative;
  box-shadow: 2px 2px #cccccc;
}
#landing > .footer > .courses > .course > .bg{
  position:absolute;
  width:50%;
  background-color:#c6c6c6;
  height:50%;
  bottom:0;
  z-index:-1;
  opacity:0.8;
}

#landing > .footer > .courses > .course > .bg > .left{
  left:5px;
  -webkit-transform:skewY(-5deg);
  -ms-transform:skewY(-5deg);
  transform:skewY(-5deg);
}

#landing > .footer > .courses > .course > .bg > .right{
  right:5px;
  -webkit-transform:skewY(5deg);
  -ms-transform:skewY(5deg);
  transform:skewY(5deg);
}
#landing > .footer > .courses >.course h4{
  font-weight: lighter;
  font-size:18px;
  color: white;
  text-align: center;
}
#landing > .footer > .courses > .course > a.button-orange{
  width:40%;
  color: white;
  margin:1em 10em 1px;
  padding:5px 10px;
  font-size:12px;
}
#landing > .footer > .courses > .course > a.button-orange:hover{
  background: white;
  color: black;
}

/*****Registration*****/
#landing > .extra {
display: inline-block;
text-align: center;
color: #3e4e5c;
font-size: 2.25em;
width: 100%;
margin: 1.5em 0 1em;
}
#landing > .extra .button {
  background: rgba(255,64,88,0.74);
  box-shadow: 0em .1em 1em .1em rgba(255,114,132,0.50);
  border-radius: 1em;
  padding: .7em 1.4em;
  border: none;
  color: #fff;
  font-size: .6em;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

#landing > .extra .button:hover {
  background: transparent;
  color: white;
}

#landing > .extra .cont_principal {
  position: absolute;

  width: 100%;
  height: 100%;
/* Rectangle 3: */
}

#landing > .extra .cont_centrar {
  position: absolute;
  width:16em;
  height: 12em;
  left:11em;
  top:50%;
  margin-top: -8em;
  z-index: 100%;
}

#landing > .extra .cont_centrar {
  position: relative;
  width: 50%;
  float: center;

  border-radius: .4em;
transition: all 0.5s;
}

#landing > .extra .cent_active {
    box-shadow: 1em 1em 2.5em 0em rgba(0,0,0,0.21);
}


#landing > .extra .cont_tabs_login {
  position: relative;
  float: center;
  width: 100%;
}

#landing > .extra .ul_tabs > li {
position: relative;
  float: left;
  width: 50%;
  list-style: none;
  text-align: center;

}

#landing > .extra .ul_tabs > li > a  {
text-decoration: none;
font-family: Helvetica;
font-size: .8em;
    color: #999;
line-height: .6em;
padding: .8em ;
display: block;
transition: all 0.5s;
}

#landing .extra .ul_tabs > .active > a  {
color: #FF8383;

}

#landing .extra .linea_bajo_nom {
  position: relative;
  width: 100%;
  float: left;
  background-color: #999;
  height: .07em;
}

#landing .extra .active .linea_bajo_nom {
  position: relative;
  width: 100%;
  float: left;
  background-color: #FF8383;
  height: .07em;
}

#landing .extra .cont_text_inputs {
  position: relative;
  float: left;
  width: 100%;
  margin-top: .5em;
}

#landing .extra .input_form_sign {
  position: relative;
  float: center;
  width: 90%;
  border: none;
  border-bottom: .08em solid #B0BEC5 ;
  background-color: transparent;
  font-size: .5em;
  outline: none;
  transition: all 0.5s;
  padding: 0px;
  opacity: 0;
 display: none;
}

#landing .extra .active_inp {
  margin: 5% 5% ;
  padding: .5em 0em;
  opacity: 1;
  height: .1em;
}



#landing .extra .input_form_sign:focus {
  border-bottom: 1px solid #FF8383 ;}

#landing .extra .link_forgot_pass {
position: relative;
  text-decoration: none;
  color: #999;
  font-size: .8em;
  display: none;
  float: center;
  transition: all 0.5s;
}
#landing .extra .cont_btn {
  position: relative;
  float: center;
}


#landing .terms_and_cons {
  width: 70%;
  color: #999;
  font-size: .8em;
  transition: all 0.5s;
}

#landing .extra .d_none {
  display: none;
}

#landing .extra .d_block {
  display: block;
}

#landing .extra .cont_text_inputs > input:nth-child(1){

  transition-delay: 0.2s;
}

#landing .extra .cont_text_inputs > input:nth-child(2){
  transition-delay: 0.4s;
}
#landing .extra .cont_text_inputs > input:nth-child(3){
  transition-delay: 0.6s;
}
#landing .extra .cont_text_inputs > input:nth-child(4){
  transition-delay: 0.8s;
}

#landing .section-heading{
  border-bottom:1px solid rgba(255,255,255,0.1)

  margin:2em;
  color: white;
}
#landing .speakers{
    max-width:70em;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:2em auto;
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
}
#landing .speakers .speaker{
  text-align: center;
  min-width:10em;
  max-width:17em;
  margin:1em 4em;
}
#landing .speakers .speaker h4{
  font-size:1.5em;
}
#landing .speakers .speaker p{
  font-size:1em;
  color: white;
}
